#titulo{
    font-family: 'Roboto', sans-serif;
font-weight: 700;
}

#subtitulo{
font-family: "roboto", sans-serif;
font-weight: 300;
}

h5{
    font-family: "roboto", sans-serif;
font-weight: 400;
}

h5 strong{
     font-weight: 700;
     color: crimson;
}

h3{
   font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #111;
  line-height: 1.6; 
}

h3 strong{
    font-weight: 700;
     color: crimson;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #111;
}

.membros{
     font-family: 'Roboto', sans-serif;
     font-size: 16px;
     font-weight: 400;
     color: #333;
}

.membros strong{
    font-weight: 700;
    color: crimson;
}

